<%= link_to "Home", root_path %><br>
<%= link_to 'Add a location', new_location_path %>
<% current_user.locations.each do |location| %>
    <% if current_user.default_location_id != location.id %>
        <p><%= location.address %>, <%= location.city %>, <%= location.state %></p>
        <%= button_to 'Make default', make_default_location_path(location.id), method: :post %>
    <% else %>
        <h4>Default: <%= location.address %>, <%= location.city %>, <%= location.state %></h4>
    <% end %>
    <%= button_to "Delete", delete_location_path(location.id), method: :delete %>
<% end %>