<h1>New item</h1>

<!--<%= render "form", item: @item %>-->

<%= form_for @item do |f| %>
  <div class="field">
    <!--<%= f.label :name %>-->
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div class="field">
    <!--<%= f.label "Description" %>-->
    <%= f.text_area :desc, placeholder: "Description" %>
  </div>
  <% if current_user.sorted_locations.length > 0 %>
    <div class="field"> 
      <%= f.select :location_id, current_user.sorted_locations.collect { |location| [location.address, location.id] } %>
    </div>
  <% end %>
  <%= link_to 'Add a location', new_location_path %>
  <div class="field">
    $<%= f.text_field :price %> per day
  </div>
  <div class="actions">
    <%= f.submit "Post to board" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to items", items_path %>
</div>
