<h1>New item</h1>

<!--<%= render "form", item: @item %>-->

<%= form_for @item do |f| %>
  <div class="field">
    <!--<%= f.label :name %>-->
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div class="field">
    <!--<%= f.label "Description" %>-->
    <%= f.text_area :desc, placeholder: "Description" %>
  </div>
    <div class="field"> 
      <%= f.select :location, @sorted_boys %>
    </div>
  <div class="actions">
    <%= f.submit "Add" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to items", items_path %>
</div>
