<p style="color: green"><%= notice %></p>
<% if request.referer.present? && request.referer.include?('/search_item?') %>
  <%= link_to "Back to search results", request.referer %>
<% end %>
<%= render @item %>
<p>By: <%= @item.user.first_name %> <%= @item.user.last_name %></p>
<p><%= @item.location.address %></p>
$<%= @item.price %> per day
<div>
  <% if @item.user_id == current_user.id %>
    <%= link_to "Edit this item", edit_item_path(@item) %>
    <%= button_to "Destroy this item", @item, method: :delete %>
  <% else %>
    <% if !@item.lease %>
      <%= button_to "Rent this item", create_lease_path(item_id: @item.id), method: :post %>
    <% end %>
  <% end %>
  <%= link_to "Back to items", items_path %>
</div>
